@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'DM Sans', sans-serif;
  background-color: #9EBDFF;
  color: #111;
  /* scrollbar-width: auto;
  scrollbar-color: black white; */
}

/* body::-webkit-scrollbar{
  width: 10px;
}

body::-webkit-scrollbar-track{
  background: white;
} */

body::-webkit-scrollbar-thumb{
  background-color: black;
}

*::-webkit-color-swatch {
  border: 1px solid #000000;
}